<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer"
   connectionString="Data Source=127.0.0.1;Initial Catalog=tushar27;User ID=tushar27;PWD=3xpDXVEZ;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="net4SqlServer"
   connectionString="Data Source=127.0.0.1;Initial Catalog=tushar27;UID=tushar27;PWD=3xpDXVEZ;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="pubsCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=tushar27;PWD=3xpDXVEZ;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="NorthwindCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=tushar27;PWD=3xpDXVEZ;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=tushar27;PWD=3xpDXVEZ;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=tushar27;PWD=3xpDXVEZ;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
</connectionStrings>